PORT=5000
MONGODB_URI=mongodb+srv://rensusfranco_db_user:6D1xsJJjB6gSOpJf@cluster0.qjkcncx.mongodb.net/?appName=Cluster0
JWT_SECRET=ASNDASIJDNAIJS
FRONTEND_URL=https://rizenfranco2-prog-barangaycomplaint.vercel.app
ADMIN_USERNAME=admin
ADMIN_PASSWORD=123456